<% define_template "template_name" do |form| %>
<div class="subrecord-form-fields">
  <h4 class="subrecord-form-heading">
    <span class="subrecord-form-heading-label">Name Form</span>
  </h4>
  <%= form.hidden_input "id" %>
  <%= form.hidden_input "_destroy", false %>
  <%= form.label_and_textfield "name" %>
  <%= form.label_and_select "form", form.possible_options_for("name_form") %>
</div>
<% end %>
