<%= render "shared/flash_messages" %>

<h1>Entities</h1>
<ul>
  <% @entities.each do |entity| %>
    <li><a href="/entities/<%= entity.id %>"><%= entity.authorized_name %></a> <span class="badge badge-info"><%= entity.entity_type %></span></li>
  <% end %>
</ul>
