<%= render "shared/flash_messages" %>

<div class="ogallala-welcome">
  <p>Ogallala is an application for publishing linked local authority data for cultural heritage resources.</p>

  <p>Look at some <a href="entities">sample entity records</a>.</p>
</div>
