/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  background: #fffff6;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.2rem;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
.highlight {
  margin-bottom: 15px;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Lists
 */
ul,
ol {
  margin-left: 30px;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Links
 */
a {
  color: #994d00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
}

pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(1200px - (30px * 2));
  max-width: calc(1200px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    max-width: -webkit-calc(1200px - (30px));
    max-width: calc(1200px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}

/**
 * Clearfix
 */
.wrapper::after,
.footer-col::after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.icon > svg path {
  fill: #828282;
}

/**
 * Site header
 */
.navbar {
  margin-bottom: 20px;
}

.navbar-fixed-top {
  border-top: 5px solid #690;
  border-bottom: 1px solid #e8e8e8;
  padding: 0;
  min-height: 56px;
  max-height: 56px;
  position: relative;
}

.container > .navbar-header {
  margin-right: 0;
  margin-left: 0;
}

.site-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 56px;
  float: left;
}

.navbar-header {
  width: 100%;
}

.navbar-toggler {
  margin: 10px 10px 10px 0;
  color: #994d00;
  border-color: #e8e8e8;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(153, 77, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-collapse {
  float: right;
  margin: 0;
  background-color: #fffff6;
}

.navbar-collapse .navbar-nav > .active > a,
.navbar-collapse .navbar-nav > .active > a:hover,
.navbar-collapse .navbar-nav > .active > a:focus {
  background-color: #fffff6;
}

.logout-button-to {
  padding: 0.5rem;
}

.nav-logout {
  color: #994d00;
  background-color: transparent;
  border: solid 1px #e8e8e8;
}

/**
 * Site navigation for small screens
 */
@media (max-width: 420px) {
  .site-title {
    font-size: 16px;
  }

  .site-nav {
    float: none;
  }
}

@media (max-width: 580px) {
  .site-nav > img {
    display: none;
  }

  .navbar-collapse {
    width: 100%;
    text-align: right;
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-col {
  float: left;
  padding: 0 15px;
}

.footer-col p {
  font-size: 15px;
  color: #828282;
  margin: 0 15px;
}

@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
  }
}

/**
 * Agent pages
 */
.cola-agent {
  margin-bottom: 15px;
}

.name {
  margin-bottom: 0;
}

.variant-forms,
.record-footer {
  color: #828282;
  font-size: 14px;
}

/**
 * Table layouts
 */
table {
  margin-bottom: 15px;
}

table.data-dict-table {
  width: 960px;
}

table td {
  border: solid 2px #828282;
  padding: 7.5px;
  vertical-align: top;
}

table.data-dict-table td.predicate {
  width: 120px;
  font-weight: bold;
}

table.data-dict-table td.data-label {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  background-color: #e8e8e8;
}
