/**
 * Layout components
 */

.variant-forms {
  color: #828282;
  font-size: 0.75rem;
}

/**
 * Admin panel
 */

.card-header {
  padding: 0;
  color: #333;
  background-color: #f5f5f5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body {
  padding: 0.75rem;
  background-color: #fff;
}

.card-body > p {
  font-size: 0.75rem;
  margin-bottom: 0;
}

.btn-link {
  color: inherit;
  font-weight: bold;
}
