/**
 * Layout components
 */

.variant-forms {
  color: #828282;
  font-size: 0.75rem;
}

.entity-actions {
  margin-top: 1rem;
}

.button_to {
  display: inline;
}

.entity-actions,
.form-actions,
.btn-pull-right {
  float: right;
}

.btn-pull-right {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.btn-cancel {
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #fff;
}

/**
 * Admin panel
 */

.card-header {
  padding: 0;
  color: #333;
  background-color: #f5f5f5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body {
  padding: 0.75rem;
  background-color: #fff;
}

.card-body > p {
  font-size: 0.75rem;
  margin-bottom: 0;
}

.btn-link {
  color: inherit;
  font-weight: bold;
}

/**
 * Relationships
 */

.entity-relationship {
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: rgba(245, 245, 245, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.125);
}

/**
 * Form layouts
 */

.subrecord-form-heading {
  background-color: rgba(245, 245, 245, 0.75);
}
